.order-item {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	&__cover {
		width: 200px;
		margin-right: 30px;
	}
	&__title,
	&__price {
		font-size: 20px;
		font-weight: 700;
	}
	&__price {
		margin-left: auto;
	}
}
